MySQL Queries

In [15]:
import csv
import pandas as pd
from IPython.display import display, HTML

1a

In [18]:
df = pd.read_csv("1a.csv")
display(HTML(df.to_html(index=False)))

1b

In [20]:
df = pd.read_csv("1a.csv")
display(HTML(df.to_html(index=False)))

2a

In [21]:
df = pd.read_csv("2a.csv")
display(HTML(df.to_html(index=False)))

2b

In [22]:
df = pd.read_csv("2b.csv")
display(HTML(df.to_html(index=False)))

2c

In [23]:
df = pd.read_csv("2c.csv")
display(HTML(df.to_html(index=False)))

2d

In [24]:
df = pd.read_csv("2d.csv")
display(HTML(df.to_html(index=False)))

3a-3b

In [26]:
df = pd.read_csv("3a-3b.csv")
display(HTML(df.to_html(index=False)))

3c

In [28]:
df = pd.read_csv("3c.csv")
display(HTML(df.to_html(index=False)))

4a

In [30]:
df = pd.read_csv("4a.csv")
display(HTML(df.to_html(index=False)))

4b

In [31]:
df = pd.read_csv("4b.csv")
display(HTML(df.to_html(index=False)))

4c_1

In [32]:
df = pd.read_csv("4c_1.csv")
display(HTML(df.to_html(index=False)))

4c_2

In [33]:
df = pd.read_csv("4c_2.csv")
display(HTML(df.to_html(index=False)))

4d

In [35]:
df = pd.read_csv("4d.csv")
display(HTML(df.to_html(index=False)))

6a

In [38]:
df = pd.read_csv("6a.csv")
display(HTML(df.to_html(index=False)))

6b

In [39]:
df = pd.read_csv("6b.csv")
display(HTML(df.to_html(index=False)))

6c

In [41]:
df = pd.read_csv("6c.csv")
display(HTML(df.to_html(index=False)))

6d

In [42]:
df = pd.read_csv("6d.csv")
display(HTML(df.to_html(index=False)))

6e

In [44]:
df = pd.read_csv("6e.csv")
display(HTML(df.to_html(index=False)))

7a

In [45]:
df = pd.read_csv("7a.csv")
display(HTML(df.to_html(index=False)))

7b

In [46]:
df = pd.read_csv("7b.csv")
display(HTML(df.to_html(index=False)))

7c

In [47]:
df = pd.read_csv("7c.csv")
display(HTML(df.to_html(index=False)))

7d

In [48]:
df = pd.read_csv("7d.csv")
display(HTML(df.to_html(index=False)))

7e

In [50]:
df = pd.read_csv("7e.csv")
display(HTML(df.to_html(index=False)))

7f

In [51]:
df = pd.read_csv("7f.csv")
display(HTML(df.to_html(index=False)))

7g

In [52]:
df = pd.read_csv("7g.csv")
display(HTML(df.to_html(index=False)))

7h

In [53]:
df = pd.read_csv("7h-hard way.csv")
display(HTML(df.to_html(index=False)))

8a

In [54]:
df = pd.read_csv("8a.csv")
display(HTML(df.to_html(index=False)))